.text {
  position: absolute;
  left: 50%;
  top: 45%;
}

.text1 {
  position: absolute;
  left: 50%;
  top: 10px;
}

.mainbox {
  height: 100vh;
  width: 100%;
}

.box1 {
  text-align: center;
  padding: 2px;
  border: 2px solid black;
}

.box2 {
  width: 100%;
  height: 50%;
}

.box3 {
  width: 100%;
  height: 50%;
}

.box21 {
  outline: 2px solid blue;
  width: 50%;
  height: 100%;
  float: left;
}

.box22 {
  outline: 2px solid green;
  width: 50%;
  height: 100%;
  float: right;
}

.box31 {
  outline: 2px solid #f0a30a;
  width: 50%;
  height: 100%;
  float: left;
}

.box32 {
  outline: 2px solid purple;
  width: 50%;
  height: 100%;
  float: right;
}

.box211, .box311, .box321 {
  position: absolute;
  left: 33.33%;
  background-color: blue;
  padding: 3%;
  color: white;
  text-align: center;
  width: 33.33%;
}

.box211 {
  top: 10px;
}

.box311 {
  bottom: 0%;
}

.box321 {
  top: 45%;
}

.box21 {
  position: relative;
  background-color: #dae8fc;
}

.box22 {
  position: relative;
  background-color: #d5e8d4;
}

.box221 {
  position: absolute;
  top: 4%;
  left: 3%;
  width: 94%;
  height: 92%;
  background-color: #fff2cc;
  outline: 2px solid #f0a30a;
}

.box31 {
  position: relative;
  background-color: #fff2cc;
}

.box32 {
  position: relative;
  background-color: #e1d5e7;
}
/*# sourceMappingURL=sass_design1.css.map */