$text_align: center;
$bg_sc:pink;

%flex {
  display: flex;
}

.subbox31,
.subbox32 {
  @extend %flex;
  justify-content: space-between;
}

.subbox4 {
  @extend %flex;
  justify-content: $text_align;
  margin: 30px;
}

.subbox21 {
  display: flex;
  padding: 20px;
  justify-content: space-around;

  input {
    text-align: $text_align;
    width: 50%;
    padding: 10px;
  }
  button {
    padding: 10px;
    width: 30%;
  }
}
@function box3($color) {
  @if (lightness($color) >40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@function box31($color) {
  @if (lightness($color) <40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
.box3 {
  text-align: $text_align;
  background-color: box3($bg_sc);
  color: box31($bg_sc);
}

@mixin subbox {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: $bg_sc;
  border: 2px solid #a2badd;
}
.subbox311,.subbox312,.subbox321,.subbox322,.subbox41,.subbox42,.subbox43 {
  @include subbox;
}
p {
  @at-root {
    .text {
      color: white;
      font-weight: bold;
    }
  }
}
.mainbox {
  border: 2px solid black;
}
.box1 {
  padding: 2px;
  text-align: $text_align;
}
.box2 {
  background-color: #f0a30a;
  text-align: $text_align;
  padding-bottom: 100px;
}

.box4 {
  text-align: $text_align;
  padding: 1px;
  background-color: #60a917;
}