.subbox31,
.subbox32, .subbox4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subbox31,
.subbox32 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subbox4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.subbox21 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subbox21 input {
  text-align: center;
  width: 50%;
  padding: 10px;
}

.subbox21 button {
  padding: 10px;
  width: 30%;
}

.box3 {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.subbox311, .subbox312, .subbox321, .subbox322, .subbox41, .subbox42, .subbox43 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: pink;
  border: 2px solid #a2badd;
}

.text {
  color: white;
  font-weight: bold;
}

.mainbox {
  border: 2px solid black;
}

.box1 {
  padding: 2px;
  text-align: center;
}

.box2 {
  background-color: #f0a30a;
  text-align: center;
  padding-bottom: 100px;
}

.box4 {
  text-align: center;
  padding: 1px;
  background-color: #60a917;
}
/*# sourceMappingURL=sass_design2.css.map */