$color:#506690;

.header_pading{
  padding-bottom: 120px;
}
.back-img {
  background-image: url("map1.png");
  background-size: cover;
}
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 2px;
  box-sizing: border-box;
  transition: 0.3s;
}
.btn-find {
  width: 100%;
  margin: 8px 0;
  padding: 15px 0px 15px 0px;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.inputWithIcon {
  input[type="text"]{
    padding: 15px 0px 15px 40px;
    position: relative;
  }
  position: relative;
  i{
    position: absolute;
  left: 17px;
  top: 19px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  }
}
.b_color {
  background-color: #2d53d2;
}
.t_color {
  color: #355bd4;
}
.footer_bg {
  background-color: #2a354f;
}
.B_color {
  color: #2B3650;
}
.f_size {
  font-size: 22px;
  color: $color;
}
.f_color {
  color: $color;
}
.font_s {
  font-size: 51px;
}
.btn-outline-primary{
  border: 1px solid #355bd4;
} 
.btn-outline-primary:hover{
  background-color: #355bd4;
} 
@media only screen and (max-width: 667px) {
  .font_s {
    font-size: 40px;
  }
}
